*{
    margin: 0;
    padding: 0;
}

/* Navigation Bar */

#navbar{
    flex-direction: column;
}

#navbar ul li{
    font-size: .8rem;
    padding-bottom: 8px;
}

/* Home Section */

#home{
    height: 370px;
    padding: 3px 68px;
}

#home::before{
    height: 480px;
}

#home p{
    font-size: 13px;
}

/* Services Section */

#services{
    flex-direction: column;
}

#services .box{
    padding: 20px;
    margin: 0 20px;
    margin-bottom: 20px;
}

/* Client Section */

#clients{
    height: auto;
}

#clients img{
    width: 70px;
    padding: 4px 10px;
}

#client-section::before {
    content: "";
    position: absolute;
    background: url(../images/img.jpeg) no-repeat center center/cover;
    width: 100%;
    height: 85%;
    z-index: -1;
    opacity: .3;
    margin: 22px 0;
}

/* Utility Class */

.h-primary{
    font-size: 26px;
    padding-top: 30px;
}

.btn{
    font-size: 13px;
    padding: 4px 8px;
}